body {
   margin: 0;
}

body > div > div {
    padding-left: 50px;
    padding-right: 50px;
}

.section1 {
    width: 100%;
    height: 250px;
}

.section1-container {
    display: flex;

    padding-top: 50px;
}

.section1-avatar img {
    width: 140px;
    height: 150px;
}

.section1-text-container {
    display: flex;
    flex-direction: column;
    justify-content: center;

    padding-left: 50px;
}

.section1-name {
    font-size: 50px;
}

.section1-title {
    padding-top: 5px;
    font-size: 20px;
    color: gray;
}

.section2 {   
    height: 200px;
    
    background: #F1F1F1;
}

.section2-container {
    display: flex;
}

.section2-column {
    width: 50%;
}

.section2-column > div {
    padding-top: 35px;

    font-size: 20px;
}

.section3 {
    height: 672px;
}

.section3-container {
    display: flex;
}

.section3-column-wide {
    width: 65%;
}

.section3-column-separator {
    width: 100%;
}
    
.section3-column-small {
    width: 35%;
}

.section3-section {
    padding-top: 30px;
}

.section3-section > div {
    padding-top: 5px;
}

.section3-section > .section3-subtitle {
    padding-top: 10px;
}

.section3-section:first-of-type > .section3-subtitle {
    padding-top: 10px;
}

.section3-title {
    font-size: 20px;
    color: #408D96;
}

.section3-subtitle {
    font-size: 20px;
    font-weight: bold;
}

.section3-text {
    width: 450px;
    text-align: justify;
}

.section3-text-small {
    display: flex;
    flex-direction: column;

    width: 350px;
    text-align: justify;
}


.section4 {
    height: 1122px;
    background: yellow;
}

